* {
    font-family: $red-hat-display;
}

body {
    background: $primary-1;
}

main {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    height: 100vh;
    background-image: url("assets/img/pattern-background-desktop.svg");
    background-size: auto;
    background-repeat: no-repeat;
    @media (max-width: $mobile) {
        background-image: none;
    }
}



